.idea
.project
.idea
.settings
.externalToolBuilders
pid.txt
.bin
config/coverage
npm-debug.log
.DS_Store
public_dist
public/js/combined.js
public/js/licenses.txt
public/js/bundle.js
node_modules
package
/dump.rdb
*.orig
buildinfo.json
*.swp
.tmp/
discussions.db

projectFilesBackup/
/discussions.db

/po

*.heapsnapshot
bower_components/
templates.js